body {
  font-family: Arial, sans-serif;
  width: 600px;
  height: 600px;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 8px 8px 8px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin: 0;
  font-size: 20px;
  color: transparent;
  background: linear-gradient(90deg, #6054ff 0%, #1bfe35 100%);
  background-clip: text;
}

button {
  background: linear-gradient(90deg, #1bfe35 0%, #6054ff 50%, #1bfe35 100%);
  background-size: 200% 100%;
  background-position: 100% 0;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-position: 0 0;
  transition: all 0.3s ease-in-out;
}

.status {
  display: none;
  position: fixed;
  right: 8px;
  top: 54px;
  margin: 0;
  padding: 8px;
  background-color: white;
  border-radius: 0;
  border-bottom-left-radius: 4px;
  color: #34a853;
  font-style: italic;
  font-weight: bold;
}

.status.error {
  color: red;
}

.status.show {
  display: block;
}

.mdpreview {
  flex: 1;
  background-color: whitesmoke;
  border-radius: 4px;
  padding: 0 8px;
  overflow-y: auto;
}